/*---------- RESPONSIVE CSS -----------*/



@media screen and (max-width: 768px) {
    
    .nav-right {
        display: none;
    }

    .nav-left {
        flex-basis:90% ;
    }

    .mobile-menu {
        display: block;
        flex-basis: 6%;
    }

    #header-main {
        display: flex;
        justify-content: space-between;
    }


    .col-large {
        flex-basis: 62%;
    }

    
    .col-large-2 {
        flex-basis: 29%;
    }


    .col {
        flex-basis: 29.5%;
    }



}


@media screen and (max-width: 480px) {
    
    .nav-right {
        display: none;
    }

    .nav-left {
        flex-basis:90% ;
    }

    .mobile-menu {
        display: block;
        flex-basis: 10%;
    }

    .row {
        flex-direction:column;
    }
    
}